@model InventoryApp.Shared.Models.InventoryItemWithHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory Item History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>

    <table class="border">
        <thead>
            <tr>
                <th class="px-1 border-start border-top border-end"></th>
                <th colspan="3" class="text-center px-1 border-start border-top border-end">Inventory</th>
                <th colspan="3" class="text-center px-1 border-start border-top border-end">Cost Record</th>
            </tr>
            <tr class="border-bottom">
                <th class="px-1 border-start border-end">Date</th>
                <th class="px-1 border-start">Reference</th>
                <th class="text-end px-1">Quantity</th>
                <th class="text-end px-1 border-end">Cost</th>
                <th class="px-1 border-start">Date</th>
                <th class="text-end px-1">Quantity</th>
                <th class="text-end px-1 border-end">Unit Cost</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var listItem in Model.ListItems ?? [])
                {
                        <tr>
                    <td class="px-1 border-start border-end">@listItem.HistoryDate?.ToShortDateString() @listItem.HistoryDate?.ToShortTimeString()</td>
                            <td class="px-1 border-start">@listItem.ReferenceNumber</td>
                            <td class="text-end px-1">@(listItem.HistoryQuantity == 0 ? "" : listItem.HistoryQuantity.ToString("#,##0"))</td>
                            <td class="text-end px-1 border-end">@(listItem.HistoryCost == 0 ? "" : listItem.HistoryCost.ToString("$#,##0.00"))</td>
                            <td class="px-1 border-start">@listItem.CostDate.ToShortDateString() @listItem.CostDate.ToShortTimeString()</td>
                            <td class="text-end px-1">@listItem.CostQuantity.ToString("#,##0")</td>
                            <td class="text-end px-1 border-end">@listItem.CostUnitCost.ToString("$#,##0.00")</td>
                        </tr>
                }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
